.footer {
    box-sizing: border-box;
    color: #fff;
    padding: 60px 80px;
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
  }

  .footer__container{
    display: flex;
    justify-content: space-between;
  }
  
  .footer__logo {
    width: 105px;
    height: 39px;
  }
  
  .footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 16px;
    font-size: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;  
  }
  
  .footer__list-item {
    margin-bottom: 16px;
  }
 
  .footer__list-item:hover {
    margin-bottom: 0;
  }

  .footer__content {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }
  
  .footer__content-heading {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 20px;
  }
  
  .footer__content-link {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
  }
  
  .footer__content-link:hover {
    color: #c1c1c1; /* hex */
  }
  
  .footer__social-icon {
    width: 16px;
    height: 10px;
  }
  
  .footer__copyright {
    margin: 108px 0 0 ;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
  