.recipes {
    padding: 100px 80px 215px;
    background-color: #0a2750;
    color: #ffffff;
  }

  .recipes__iframe {
    border: none;
  }
  
  .recipes__videos {
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  
  .recipes__video-caption {
    display: flex;
    justify-content: space-between;
  }