.page {
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  justify-content: space-between;
  background-color:#ffffff; 
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 120px;
}

.nav__links {
  display: flex;
  margin: 0;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__image {
  z-index: 1;
  position: absolute;
  max-width: 636px;
  right: 20px;
  top: 135px;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 70px;
  font-weight: 500;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0 0;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  margin: 0;
}
.recipes {
padding: 100px 80px 215px;
}

.recipes__video {
display: flex;
gap: 100px;
justify-content: center;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;

}
